---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead title="Tahereh Mahzoon" description="My personal Blog" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
  </head>
  <header>
    <a class="underline" href="/">Home</a>
    <a class="underline" href="/blog">Blog</a>
  </header>
  <body>
    <h1 class="text-5xl">My Astro Site</h1>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
